.booking {
  display: grid;
  grid-template-columns: 12fr 6fr;
  width: 100%;
  min-height: 100vh;
}

.booking-summary {
  min-width: 2em;
  border-left: 0.07em dotted #606060;
  padding: 4em;
}

.booking-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  min-width: 0;
  min-height: 100dvh;
  padding: 4rem;
}



.booking-summary .resume {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.selection-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking-steps {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.step {
  display: grid;
  place-items: center;
  width: 3rem;
  height: 3rem;
  border: 2px solid #666;
  border-radius: 50%;
  color: #999;
}

.step-active {
  color: #ff0000;
  background-color: #505050;
  border-color: #ff0000;
  font-weight: 700;
}

.steps-actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;

  margin-top: auto;
}

.steps-actions button {
  min-width: 11rem;
}

@media (max-width: 768px) {
  .booking {
    grid-template-columns: 1fr;
  }

  .booking-summary {
    border-right: 0;
    border-top: 1px dotted #454545;
    padding: 2em;
  }

  .booking-content {
    padding: 2em;
  }

  .booking-steps {
    gap: 3.1rem;
  }

  .step {
    width: 2.5rem;
    height: 2.5rem;
  }
}


